<div class="pagina">
  <div class="contenido">
    <div class="izquierda">
      <h2>CLINICA DE ALTA CALIDAD</h2>
      <h1>Especialización, dedicación y seguridad</h1>
      <p>
        Tu salud, nuestra prioridad. Contamos con profesionales de diferentes
        especializaciones y larga trayectoria. Explora nuestros servicios y
        agenda tu cita en línea.
      </p>
      <div class="botones">
        <button mat-flat-button (click)="onClick('login')">Iniciar Sesión</button>
        <button mat-flat-button (click)="onClick('registro')">Registrarse</button>
      </div>
    </div>
    <div class="derecha">
      <img
        src="https://crhmhrazcvpkqjxorqfl.supabase.co/storage/v1/object/public/assets//Online%20Doctor-pana2.png"
        alt=""
      />
    </div>
  </div>
</div>
