.pagina {
    width: 100%;
    height: 100%;

    .contenido {
        height: 100%;
        width: 100%;

        .tabla {
            height: 100%;
            width: 100%;
            padding: 1.5%;
            border-radius: 5px;
            table {
                height: 100%;
                width: 100%;
                background-color: #112138;
                color: #f7f7f2;
                th {
                    background-color: #cba368;
                    color: #f7f7f2;
                    border-color: #cba368;
                    text-align: center;
                }

                td {
                    color: #f7f7f2;
                    border-color: #cba368;
                    text-align: center;
                }

                :hover {
                    cursor: pointer;
                    background-color: #cba36873;
                    //font-weight: 500;
                    transition: 1000ms;
                }
            }
        }
    }
}