<div class="pagina">
  <div class="contenido">
    <div class="botones">
      <div class="seleccion caja">
        <button mat-fab extended (click)="cambiarSeleccion('paciente')">
          <mat-icon>person</mat-icon>
          Pacientes
        </button>
        <button mat-fab extended (click)="cambiarSeleccion('especialista')">
          <mat-icon>person</mat-icon>
          Especialistas
        </button>
        <button mat-fab extended (click)="cambiarSeleccion('administrador')">
          <mat-icon>person</mat-icon>
          Administradores
        </button>
      </div>
      <div class="funciones caja">
        <button mat-fab extended (click)="cambiarSeleccion(null)">
          <mat-icon>person</mat-icon>
          Registar nuevo
        </button>
        <button mat-fab extended (click)="descargarExcel()">
          <mat-icon>download_2</mat-icon>
          Descargar Excel
        </button>
      </div>
      <div></div>
    </div>
    @if(tipoUsuario){
    <div class="tabla">
      <table
        mat-table
        [dataSource]="dataSource"
        class="mat-elevation-z8"
        matSort
      >
        @for (column of columnsToDisplay; track column) {
        <ng-container [matColumnDef]="column">
          <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
          @if(column === 'imagen_uno') {
          <td mat-cell *matCellDef="let element" class="imagen">
            <img src="{{ element[column] }}" />
          </td>
          } @else if(column === 'habilitado') {
          <td mat-cell *matCellDef="let element">
            <button
              mat-button
              color="primary"
              (click)="toggleHabilitado(element)"
              ngClass="{{
                element.habilitado ? 'habilitado' : 'deshabilitado'
              }}"
            >
              {{ element.habilitado ? "Deshabilitar" : "Habilitar" }}
            </button>
          </td>
          } @else {
          <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
          }
        </ng-container>
        }
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
      </table>
    </div>
    } @else {
    <div class="registro">
      <app-registro [habilitado]="true"></app-registro>
    </div>
    }
  </div>
</div>
