.pagina{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*.cerrar{
        position: absolute;
        top: 1%;
        right: 1%;
        font-size: 4.5vh;
        button{
            background-color: #002855;
            color: #F7F7F2;
        }
    }*/
    .contenido{
        width: 80%;
        height: 100%;
        padding: 1%;
        display: flex;
        flex-direction: column;
        .botones{
            height: 15%;
            width: 100%;
            display: flex;
            padding-bottom: 1%;
            .caja{
                padding: 1%;
                background-color: #112138;
                border-radius: 5px;
                button{
                    background-color: #CBA368;
                    color: #EAF4F8;
                }
            }
            .seleccion{
                height: 100%;
                width: 70%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: .5%;
                button{
                    width: 30%;
                    margin: auto;
                }

            }
            .btnRegistro{
                height: 100%;
                //width: 100%;
                width: 30%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-left: 5%;
                padding-right: 5%;
                margin-left: .5%;
                button{
                    width: 100%;
                }

            }

        }
        .tabla{
            height: 100%;
            width: 100%;
            table{
                background-color: #112138;
                color: #F7F7F2;
                th{
                    background-color: #CBA368;
                    color: #F7F7F2;
                    border-color: #CBA368;
                    text-align: center;
                }
                td{
                    color: #F7F7F2;
                    border-color: #CBA368;
                    text-align: center;
                    .habilitado{
                        background-color: #a82e25;;
                        color: #EAF4F8;
                    }
                    .deshabilitado{
                        background-color: #43a027;
                        color: #EAF4F8;
                    }
                }
                .imagen{
                        padding: 1%;
                        img{
                        max-width: 80px;
                        max-height: 80px;
                        border-radius: 50%;
                        border-width: 2px;
                        border-color: #F7F7F2;
                        border-style: solid;
                    }
                }
            }
        }
        .registro{
            height: 100%;
        }
    }
}