<div class="pagina">
  <div class="contenido">
    <div class="acceso-rapido caja">
      <div class="encabezado">
        <h1>USUARIOS PRESTABLECIDOS</h1>
      </div>
      <div class="botones">
        <button mat-button (click)="setCredenciales('enzo')">
          <img
            src="https://crhmhrazcvpkqjxorqfl.supabase.co/storage/v1/object/public/assets/usuarios/28765455_913069_imagen_uno.jpg"
            alt=""
          />
          <h4>PACIENTE</h4>
        </button>
        <button mat-button (click)="setCredenciales('ramon')">
          <img
            src="https://crhmhrazcvpkqjxorqfl.supabase.co/storage/v1/object/public/assets/usuarios/16987666_812748_imagen_uno.jpeg"
            alt=""
          />
          <h4>PACIENTE</h4>
        </button>
        <button mat-button (click)="setCredenciales('larrondo')">
          <img
            src="https://crhmhrazcvpkqjxorqfl.supabase.co/storage/v1/object/public/assets/usuarios/32472344_773804_imagen_dos.jpg"
            alt=""
          />
          <h4>PACIENTE</h4>
        </button>

        <button mat-button (click)="setCredenciales('sandra')">
          <img
            src="https://crhmhrazcvpkqjxorqfl.supabase.co/storage/v1/object/public/assets/usuarios/18356276_955865_imagen_uno.jpg"
            alt=""
          />
          <h4>ESPECIALISTA</h4>
        </button>
        <button mat-button (click)="setCredenciales('enrique')">
          <img
            src="https://crhmhrazcvpkqjxorqfl.supabase.co/storage/v1/object/public/assets/usuarios/21344588_588878_imagen_uno.jpg"
            alt=""
          />
          <h4>ESPECIALISTA</h4>
        </button>
        <button mat-button (click)="setCredenciales('brito')">
          <img
            src="https://crhmhrazcvpkqjxorqfl.supabase.co/storage/v1/object/public/assets/usuarios/20748999_764329_imagen_uno.jpg"
            alt=""
          />
          <h4>ADMINISTRADOR</h4>
        </button>
      </div>
    </div>
    <div class="principal caja">
      <h1>Inicar Sesión</h1>
      <div class="formulario">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="outline">
            <mat-label>Correo Electronico</mat-label>
            <input
              matInput
              placeholder="valentin@example.com"
              formControlName="correo"
            />
            <mat-icon matSuffix>alternate_email</mat-icon>
            @if (form.controls.correo.hasError('email') &&
            !form.controls.correo.hasError('required')) {
            <mat-error>Ingrese un correo valido</mat-error>
            } @if (form.controls.correo.hasError('required')) {
            <mat-error>El correo es requerido</mat-error>
            }
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input
              matInput
              [type]="hide() ? 'password' : 'text'"
              formControlName="contrasena"
            />
            <button
              type="button"
              mat-icon-button
              matSuffix
              (click)="clickEvent($event)"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide()"
            >
              <mat-icon>{{
                hide() ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
            @if (form.controls.contrasena.hasError('required')) {
            <mat-error>La contraseña es requerida</mat-error>
            }
          </mat-form-field>
          <div class="botones">
            <button
              class="button"
              type="submit"
              mat-stroked-button
              [disabled]="form.invalid"
            >
              Iniciar Sesion
            </button>
          </div>
          @if (errorSupabase !== null) {
          <mat-error id="errorSupabase">{{ errorSupabase }}</mat-error>
          }
        </form>
      </div>
    </div>
  </div>
</div>
